.navbar-custom {
    background-color: #1c028a;
     
}
.navbar-brand {
	padding: 0px;
	margin: 0px;
	max-height: 50px;
	color: white !important;
	font-size: xx-large;
	font-weight: bold;
	
}

nav .navbar-nav li a{
  color: orange !important;
  }